<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700"
      rel="stylesheet"
    />
    <title>E-Shop</title>

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="css/slick.css" />
    <link type="text/css" rel="stylesheet" href="css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="css/font-awesome.min.css" />

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <ul class="nav navbar-nav">
            <!-- <li class="active"><a href="#">Home</a></li> -->
            <a class="navbar-brand" href="#">E-shop</a>
          </ul>
         
        </div>
       
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#"> Cart </a></li>
          <li><a href="#">Wishlist</a></li>
          <li><a href="#"> Sign Up</a></li>
          <li><a href="#"> Login</a></li>
        </ul>
      </div>
    </nav>
  </head>
  <body>
    <div class="section">
      <div class="container">
        <div class="row">
          <div id="aside" class="col-md-3">
            <div class="aside">
              <h3 class="aside-title">Categories</h3>
              <div class="checkbox-filter">
                <div>
                  <label for="category-1">
                    <span></span>
                    Laptops
                  </label>
                </div>

                <div>
                  <label for="category-2">
                    <span></span>
                    Smartphones
                  </label>
                </div>

                <div>
                  <label for="category-3">
                    <span></span>
                    Cameras
                  </label>
                </div>

                <div>
                  <label for="category-4">
                    <span></span>
                    Accessories
                  </label>
                </div>

                

               
              </div>
            </div>
          </div>

          <div id="store" class="col-md-9">
            

            <div class="row">
              <div class="col-md-4 col-xs-6">
                <div class="product">
                  <div class="product-img">
                    <img
                      src="https://images-na.ssl-images-amazon.com/images/I/71mSI8-VrML._AC_SL1500_.jpg"
                      alt=""
                    />
                  </div>
                  <div class="product-body">
                    <h3 class="product-name">
                      <a
                        href="https://www.amazon.sg/Lenovo-ThinkPad-L560-refurbished-15-6inch/dp/B08JQ5YWCB?ref_=Oct_s9_apbd_omg_hd_bw_b71ZI3X&pf_rd_r=R33MWQ1YYKQQ2T22JDX1&pf_rd_p=152026b5-429b-5228-9c77-c734fe622c6d&pf_rd_s=merchandised-search-10&pf_rd_t=BROWSE&pf_rd_i=6436117051"
                        >Lenovo ThinkPad L560</a
                      >
                    </h3>
                    <h4 class="product-price">27,880 TK</h4><div class="store-filter clearfix">
						
					  </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-xs-6">
                <div class="product">
                  <div class="product-img">
                    <img
                      src="https://images-na.ssl-images-amazon.com/images/I/61wy3VMKHnL._AC_SL1000_.jpg"
                      alt=""
                    />
                  </div>
                  <div class="product-body">
                    
                    <h3 class="product-name">
                      <a
                        href="https://www.amazon.sg/Acer-AN515-55-56AF-Refresh-i5-10300H-Processor/dp/B089P1TZM9?ref_=Oct_s9_apbd_omg_hd_bw_b71ZI3X&pf_rd_r=R33MWQ1YYKQQ2T22JDX1&pf_rd_p=152026b5-429b-5228-9c77-c734fe622c6d&pf_rd_s=merchandised-search-10&pf_rd_t=BROWSE&pf_rd_i=6436117051"
                        >Acer Nitro 5</a
                      >
                    </h3>
                    <h4 class="product-price">134,316 TK</h4>
                  </div>
                </div>
              </div>
              <!-- /product -->

              <div class="clearfix visible-sm visible-xs"></div>

              <div class="col-md-4 col-xs-6">
                <div class="product">
                  <div class="product-img">
                    <img
                      src="https://images-na.ssl-images-amazon.com/images/I/71Ouu74rLsL._AC_SL1500_.jpg"
                      alt=""
                    />
                  </div>
                  <div class="product-body">
                    <h3 class="product-name">
                      <a
                        href="https://www.amazon.sg/Acer-SF314-57G-5526-laptop-i5-1035G1-processor/dp/B089NYCJX5?ref_=Oct_s9_apbd_omg_hd_bw_b71ZI3X&pf_rd_r=R33MWQ1YYKQQ2T22JDX1&pf_rd_p=152026b5-429b-5228-9c77-c734fe622c6d&pf_rd_s=merchandised-search-10&pf_rd_t=BROWSE&pf_rd_i=6436117051"
                        >Acer Swift 3</a
                      >
                    </h3>
                    <h4 class="product-price">103,976 TK</h4>
                  </div>
                </div>
              </div>
              <!-- /product -->

              <div class="clearfix visible-sm visible-xs"></div>
              <div class="col-md-4 col-xs-6">
                <div class="product">
                  <div class="product-img">
                    <img
                      src="https://images-na.ssl-images-amazon.com/images/I/41rHnWUwWhL._AC_.jpg"
                      alt=""
                    />
                  </div>
                  <div class="product-body">
                    <h3 class="product-name">
                      <a
                        href="https://www.amazon.sg/StarTech-com-Mini-DisplayPort-VGA-Adapter/dp/B0031SEMBQ?ref_=Oct_s9_apbd_omg_hd_bw_b71ZpsJ&pf_rd_r=JX6DKKK223MVY863APYX&pf_rd_p=b7962222-0f4a-5635-96a0-a3b3123228fb&pf_rd_s=merchandised-search-10&pf_rd_t=BROWSE&pf_rd_i=6436247051"
                        >Mini DisplayPort to VGA Adapter</a
                      >
                    </h3>
                    <h4 class="product-price">984 TK</h4>
                  </div>
                </div>
              </div>
              <!-- /product -->

              <div class="clearfix visible-sm visible-xs"></div>

              <div class="col-md-4 col-xs-6">
                <div class="product">
                  <div class="product-img">
                    <img
                      src="https://images-na.ssl-images-amazon.com/images/I/61FLzyZUXuL._AC_SL1500_.jpg"
                      alt=""
                    />
                  </div>
                  <div class="product-body">
                    <h3 class="product-name">
                      <a
                        href="https://www.amazon.sg/Logitech-MK275-Wireless-Universal-Compatiblity/dp/B06X3YC1MD?ref_=Oct_s9_apbd_omg_hd_bw_b71Zqeh&pf_rd_r=8JD1SEM7WZEEHA9NCG32&pf_rd_p=ddd51a99-03f3-52b4-aac1-d30e8bf843d1&pf_rd_s=merchandised-search-10&pf_rd_t=BROWSE&pf_rd_i=6436250051"
                      >
                        Logitech MK275 Wireless Keyboard and Mouse</a
                      >
                    </h3>
                    <h4 class="product-price">2647.78 TK</h4>
                  </div>
                </div>
              </div>
              <!-- /product -->

              <div class="clearfix visible-sm visible-xs"></div>

              <!-- product -->
              <div class="col-md-4 col-xs-6">
                <div class="product">
                  <div class="product-img">
                    <img
                      src="https://images-na.ssl-images-amazon.com/images/I/61-tP07cHKL._AC_SL1500_.jpg"
                      alt=""
                    />
                  </div>
                  <div class="product-body">
                    <h3 class="product-name">
                      <a
                        href="https://www.amazon.sg/Graphics-Full-Laminated-Function-Battery-Free-Pressure/dp/B07WK4SY2W?ref_=Oct_s9_apbd_omwf_hd_bw_b71Zqeh&pf_rd_r=8JD1SEM7WZEEHA9NCG32&pf_rd_p=c5d623e9-f379-5d6e-b99e-321fd07fd05f&pf_rd_s=merchandised-search-10&pf_rd_t=BROWSE&pf_rd_i=6436250051"
                        >Huion KAMVAS Pro 12 Drawing Pen Display</a
                      >
                    </h3>
                    <h4 class="product-price">22,328.6 TK</h4>
                  </div>
                </div>
              </div>
              <!-- /product -->

              <div class="clearfix visible-lg visible-md"></div>

              <!-- product -->
              <div class="col-md-4 col-xs-6">
                <div class="product">
                  <div class="product-img">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/71zg4adbr6L._AC_SL1500_.jpg" alt="" />
                  </div>
                  <div class="product-body">
                    
                    <h3 class="product-name">
                      <a href="https://www.amazon.sg/Epson-EcoTank-Monochrome-M3170-Printer/dp/B0873L27SL/ref=sr_1_2?dchild=1&keywords=EPSON+ECOTANK+MONOCHROME+PRINTER&qid=1616844258&sr=8-2">Epson EcoTank Monochrome printer</a>
                    </h3>
                    <h4 class="product-price">33,611.8 TK</h4>
                  </div>
                </div>
              </div>
              <!-- /product -->

              <div class="clearfix visible-sm visible-xs"></div>

              <!-- product -->
              <div class="col-md-4 col-xs-6">
                <div class="product">
                  <div class="product-img">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/71HJnJrxzEL._AC_SL1152_.jpg" alt="" />
                  </div>
                  <div class="product-body">
                    
                    <h3 class="product-name">
                      <a href="amazon.sg/Nikon-D850-FX-Format-Digital-Camera/dp/B07524LHMT/ref=sr_1_11?dchild=1&keywords=camera&qid=1616843545&s=electronics&sr=1-11">Nikon D850 FX-Format Digital SLR Camera </a>
                    </h3>
                    <h4 class="product-price">272,158 TK</h4>
                  </div>
                </div>
              </div>
              <!-- /product -->

              <!-- product -->
              <div class="col-md-4 col-xs-6">
                <div class="product">
                  <div class="product-img">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/71CB6UiirBL._AC_SL1500_.jpg" alt="" />
                  </div>
                  <div class="product-body">
                    
                    <h3 class="product-name">
                      <a href="https://www.amazon.sg/Nest-Cam-Indoor-security-camera/dp/B00WBJGUA2/ref=sr_1_28?dchild=1&keywords=camera&qid=1616843545&s=electronics&sr=1-28">Nest Cam Indoor security camera</a>
                    </h3>
                    <h4 class="product-price">18,271.24 TK</h4>
                  </div>
                </div>
              </div>
              <!-- /product -->

              <div
                class="clearfix visible-lg visible-md visible-sm visible-xs"
              ></div>

              <!-- product -->
              <div class="col-md-4 col-xs-6">
                <div class="product">
                  <div class="product-img">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/61TMCC7npPL._AC_SL1500_.jpg" alt="" />
                  </div>
                  <div class="product-body">
                   
                    <h3 class="product-name">
                      <a href="https://www.amazon.sg/Fitbit-FB507RGPK-FRCJK-Premium-Fitness-Smartwatch/dp/B07WC834YQ/ref=sr_1_7?dchild=1&keywords=mobile&qid=1616843789&s=electronics&sr=1-7">Fitbit FB507RGPK-FRCJK Versa 2 Premium Health and Fitness Smartwatch</a>
                    </h3>
                    <h4 class="product-price">20,336 TK</h4>
                  </div>
                </div>
              </div>
              <!-- /product -->

              <!-- product -->
              <div class="col-md-4 col-xs-6">
                <div class="product">
                  <div class="product-img">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/71LDK7GhPeL._AC_SL1500_.jpg" alt="" />
                  </div>
                  <div class="product-body">
                    
                    <h3 class="product-name">
                      <a href="https://www.amazon.sg/Motorola-Unlocked-International-Camera-Sapphire/dp/B08LP52QPF/ref=sr_1_20?dchild=1&keywords=mobile&qid=1616843789&s=electronics&sr=1-20">Motorola Moto G9 Play Smartphone/a>
                    </h3>
                    <h4 class="product-price">17,848.12 TK</h4>
                  </div>
                </div>
              </div>
              <!-- /product -->

              <div class="clearfix visible-sm visible-xs"></div>

              <!-- product -->
              <div class="col-md-4 col-xs-6">
                <div class="product">
                  <div class="product-img">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/61WSWwdwP8L._AC_SL1400_.jpg" alt="" />
                  </div>
                  <div class="product-body">
                    
                    <h3 class="product-name">
                      <a href="https://www.amazon.sg/Jabra-Wireless-Bluetooth-Speaker-Softphones/dp/B071CGH8YF/ref=sr_1_25?dchild=1&keywords=mobile&qid=1616843789&s=electronics&sr=1-25">Jabra Speak 710 MS Wireless Bluetooth Speaker</a>
                    </h3>
                    <h4 class="product-price">21,313.44 TK</h4>
                    
                  </div>
                </div>
              </div>
              <!-- /product -->
            </div>
            <!-- /store products -->
          </div>
          <!-- /STORE -->
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /SECTION -->

    <!-- jQuery Plugins -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/nouislider.min.js"></script>
    <script src="js/jquery.zoom.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
